build/
bin/
libs/
.vscode
.vs
imgui.ini
third_party/
_deps/
*.usda
*.lnk
Framework2D/**/*.jpg
Framework2D/**/*.png
Framework3D/**/*.jpg
Framework3D/**/*.png
Homeworks/**/*.png
Homeworks/**/*.jpg
Softwares/**/*.png
Softwares/**/*.jpg
